@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

body {
    background-color: white;
}

.teste {
    max-width: 800px;
    height: 250px;
    background: cyan;
}

p {
    color: black;
    text-align: justify;
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 60px;
    font-size: 30px;
    /* font-style: oblique; */
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}